<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.megabox.admin.movie.dao.MovieDAO">
 	<insert id="insertMovie" parameterType="map">
 		INSERT INTO `movie`
 		(
 		`title`
		,`director`
		,`genre`
		,`actor`
		,`rating`
		,`releasedDate`
		,`isScreening`
		,`runningTime`
		,`viewingClass`
		,`posterImage`
		,`introduction`
		,`ranking`
		,`createdAt`
		,`updatedAt`
 		)
 		VALUES
 		(
 		#{title}
 		, #{director}
 		, #{genre}
 		, #{actor}
 		, #{rating}
 		, #{releasedDate}
 		, #{isScreening}
 		, #{runningTime}
 		, #{viewingClass}
 		, #{posterImage}
 		, #{introduction}
 		, #{ranking}
 		, NOW()
 		, NOW()
 		)
 	</insert>
 	
 	<select id="selectMovieList" resultType="com.megabox.admin.movie.model.Movie">
 		SELECT
 			`id`
 			,`title`
			,`director`
			,`genre`
			,`actor`
			,`rating`
			,`releasedDate`
			,`isScreening`
			,`runningTime`
			,`viewingClass`
			,`posterImage`
			,`introduction`
			,`ranking`
			,`createdAt`
			,`updatedAt`
 		FROM 
 			`movie`
 		ORDER BY `ranking`
 	</select>
 	
 	 <select id="selectMovie" parameterType="int" resultType="com.megabox.admin.movie.model.Movie">
 		SELECT
 			`id`
 			,`title`
			,`director`
			,`genre`
			,`actor`
			,`rating`
			,`releasedDate`
			,`isScreening`
			,`runningTime`
			,`viewingClass`
			,`posterImage`
			,`introduction`
			,`ranking`
			,`createdAt`
			,`updatedAt`
 		FROM 
 			`movie`
 		WHERE `id` = #{id}
 	</select>
 	
 	<update id="updateMovie" parameterType="map">
 		UPDATE `movie`
		SET
			`rating` = #{rating}
			, `isScreening` = #{isScreening}
			, `ranking` = #{ranking}
			, `introduction` = #{introduction}
			, `updatedAt` = NOW()
		WHERE
			`id` = #{id}
 	
 	</update>
 	

 </mapper>