<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.megabox.purchase.dao.PurchaseDAO">
 	<insert id="insertPurchase" parameterType="map">
 		INSERT INTO `purchase`
 		(
 		`userId`
		,`storeId`
		,`payment`
		,`usedPoint`
		,`exchangeNumber`
		,`createdAt`
 		)
 		VALUES
 		(
 		#{userId}
 		, #{storeId}
 		, #{payment}
 		, #{usedPoint}
 		, #{exchangeNumber}
 		, NOW()
 		)
 	</insert>
 	 <select id="selectPurchaseListByUserId" resultType="com.megabox.purchase.model.Purchase" parameterType="int">
	 	SELECT
	 		`id`
			,`userId`
			,`storeId`
			,`payment`
			,`usedPoint`
			,`exchangeNumber`
			,`createdAt`
	 	FROM
	 		`purchase`
	 	WHERE
	 		`userId` = #{userId}
	 	ORDER BY `createdAt` DESC
 	</select>
 </mapper>